use nix -p pre-commit alejandra

declare -A dir_exports=(
  [TMPDIR]="$PWD/.tmp"
  [XDG_CACHE_HOME]="$PWD/.cache"
  [ANSIBLE_LINT_CACHE_DIR]="$PWD/.cache/ansible-lint"
  [ANSIBLE_LOCAL_TEMP]="$PWD/.cache/ansible-tmp"
  [ANSIBLE_REMOTE_TEMP]="$PWD/.cache/ansible-tmp"
)

declare -A _mkdir_seen=()
for var in "${!dir_exports[@]}"; do
  dir="${dir_exports[$var]}"
  if [[ -z "${_mkdir_seen[$dir]}" ]]; then
    mkdir -p "$dir"
    _mkdir_seen[$dir]=1
  fi
  export "$var=$dir"
done
unset _mkdir_seen

export ANSIBLE_COLLECTIONS_PATH="$PWD/ansible/."
export PRE_COMMIT_HOME="$PWD/.cache/pre-commit"
export VIRTUALENV_OVERRIDE_APP_DATA="$PWD/.cache/virtualenv"
