<style>
li[data-hotlist-id].active a::before {
  content: "→";
}
li[data-hotlist-id].excluded a::before {
  content: "-";
}
li[data-state-id].active a::before {
  content: "→";
}
</style>

<output id="issue-table-root"></output>
