server {
    listen 80;
    server_name grocy.agentydragon.com;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name grocy.agentydragon.com;

    ssl_certificate /etc/letsencrypt/live/grocy.agentydragon.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/grocy.agentydragon.com/privkey.pem;

    location / {
        proxy_pass http://localhost:{{ grocy_localhost_http_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
