server {
    listen 80;
    server_name trilium.agentydragon.com;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name trilium.agentydragon.com;

    ssl_certificate /etc/letsencrypt/live/trilium.agentydragon.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/trilium.agentydragon.com/privkey.pem;

    location / {
        # TODO: Trilium internal port is still exposed. hopefully that's OK
        # cause it's still over HTTPS.
        proxy_pass https://localhost:{{ trilium_ssl_port }};
        proxy_http_version 1.1;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_ssl_session_reuse off;
        # As of 2022-09-01, seems like TLSv1.2 is the latest SSL protocol.
        proxy_ssl_protocols TLSv1.2;
        proxy_ssl_ciphers HIGH:!aNULL:!MD5;
    }
}
