[Unit]
Description=Google Drive service
After=network.target

[Service]
Type=simple
Restart=no
ExecStart=/opt/google/drive-file-stream/drive {{ google_drive_mount_dir }}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
